/* يحتوي على الالوان الاساسية التي سيبدأ بها الموقع */

/**** Start Default Theme ****/

/* Start Section Tool Box */
.option-box .color-option
    {
        border: 2px solid #AA1520 ;  
    }

.option-box .color-option ul li
    {
        background: #AA1520;
    }
.option-box .gear-check
    {
        background:#AA1520;
    }
/* End Section Tool Box */
/* لون الخط بالقائمو المنسدلة */
.dropdown-item 
    {
        color: #AA1520;  
    }
.dropdown-menu 
    {
        color: #AA1520;  
    }
/* القائمة المنسدلة في شريط الناف بار/الخط الفاصل بين العناصر */
.dropdown-divider
    {
        border-top: 2px solid #AA1520;
    }
/* الوان قائمة البحث */
.btn-outline-success 
    {
        color: #AA1520;
        border-color: #AA1520;
    }
/* عند الوقوف على زر البحث */
.btn-outline-success:hover 
    {
        background-color: #AA1520;
        border-color: #AA1520;
    }
.n 
    {
        background-color:#AA1520 ;
    } 
.dropdown-menu >a:hover
    { 
        background-color: #B51B23;

    }
/* Start Section About */
.About h1 span {
        color: #B51B23;
    }
/* Start Featuers */
.Featuers .feat svg
    {
        color: #B51B23;
    }
/* Start Testimonials Section */
.Testimonials span
    {
        color:#B51B23 ;
    }
.Testimonials .carousel-indicators li.active
   {
        border: 2px solid #B51B23; 
    }
/* Start Footer Section */
.footer h3
    {
        color:#B51B23;
    }
.footer .copyright span{
        color:#B51B23 ;
    }
/**** End Default Theme ****/